<div class="container mt-5 pt-5">
    <div class="row justify-content-center">
        <div class="col-12 col-xl-4 col-md-6">
            <div class="card">
                <div class="card-header">
                    Lsta de peliculas
                </div>
                <div class="card-body">
                    <!-- <form [formGroup]="formularioActor"> -->
                        <form [formGroup]="formularioPelicula">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Ingresar nueva pelicula" formControlName="nombre">
                                <button class="btn btn-primary" type="button"[disabled]="formularioPelicula.invalid"
                                (click)="agregarPelicula()"
                                >Agregar</button>
                            </div>
                            </form>

                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let pelcula of listaPeliculas">
                    <div class="d-flex justify-content-between">
                        <label>{{pelcula.titulo}}</label>
                        <button class="btn btn-danger btn-sm" type="button"
                        (click)="eliminarPelicula(pelcula)"
                        >
                        Eliminar
                    </button>                        
                    </div>
                    </li>
                </ul>

                </div>
            </div>
        </div>
    </div>
</div>